header{
    float: left;
    width:200px;
    background-color:lightblue;
   
}
h1{
    line-height: 100px;
    height:100vh;
    text-align: center;
}
.main{
    float:left;
    background-color:ghostwhite;
    margin:20px;
    padding-right:95px;
    
}
body{
    background-color: ghostwhite;
    width:900px;
    margin:auto;
}
.left{
    font-weight: bold;
    font-size: 22px;

}
.right{
    font-size:16px;
}
.left-1{
    font-weight: bold;
}
